ul {
  list-style: none;
}

h2 {
  font-size: 18pt;
  text-transform: uppercase;
}

h3 {
  margin-top: 30px;
}

.header {
  margin-bottom: 30px;

  &:after {
    border-top: 1px lighten($body-bg, 5%) solid;
    content: "";
    display: block;
    margin: 0 10px;
  }
}

.footer {
  margin-top: 50px;

  &:before {
    border-top: 1px lighten($body-bg, 5%) solid;
    content: "";
    display: block;
    margin: 0 10px 10px;
  }
}

.project_image {
  background: lighten($body-bg, 5%);
  border: 10px $body-bg solid;
  overflow: hidden;
  padding: 33.3333% 0 0;
  position: relative;

  a {
    left: 50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    @media only screen and (min-width: 48em) {
      width: 90%;
    }
  }

  img {
    vertical-align: middle;
    width: 100%;
  }
}

.secondary-navigation {
  > ul {
    @include inline-list;
  }
}
