ul {
  list-style: none;
}

h2 {
  font-size: 18pt;
  text-transform: uppercase;
}

h3 {
  margin-top: 30px;
}

.header {
  margin-bottom: 30px;

  &:after {
    border-top: 1px lighten($body-bg, 5%) solid;
    content: "";
    display: block;
    margin: 0 10px;
  }
  ul.title-area {
    //  margin: 0 2em 0 1em;
      li.name {
          h1 {
              color: white;
              abbr {
                  color: $white;
                  border-bottom: none;
              }
              z-index:10005;
          }
      }
      li.name:before {

          height: 1em;
          width: 1em;
          position: absolute;
          z-index: 0;
      }

  }
}

.footer {
  margin-top: 50px;

  &:before {
    border-top: 1px lighten($body-bg, 5%) solid;
    content: "";
    display: block;
    margin: 0 10px 10px;
  }
}

.project_image {
  background: darken($body-bg, 8%);
  border-radius: 10%;
  border: 10px $body-bg solid;
  overflow: hidden;
  padding: 15% 0 0;
  position: relative;

  a {
    left: 50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    @media only screen and (min-width: 28em) {
      width: 90%;
    }
  }

  img {
    vertical-align: middle;
    width: 100%;
  }
}

.secondary-navigation {
  > ul {
    @include inline-list;
  }
}
div#container {
  background-image: url("/images/layout/header/ruby_logo.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 95% 5%;

  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;

}
article {
    .antrag {
        img {
            box-shadow: 3px 3px 6px gray;
        }
    }
}
