ul {
  list-style: none;
}

h2 {
  font-size: 18pt;
  text-transform: uppercase;
}

h3 {
  margin-top: 30px;
}

.header {
  margin-bottom: 30px;

  &:after {
    border-top: 1px lighten($body-bg, 5%) solid;
    content: "";
    display: block;
    margin: 0 10px;
  }
  ul.title-area {
    //  margin: 0 2em 0 1em;
      li.name {
          h1 {
              color: white;
              abbr {
                  color: $white;
                  border-bottom: none;
              }
              z-index:10005;
          }
      }
      li.name:before {

          height: 1em;
          width: 1em;
          position: absolute;
          z-index: 0;
      }

  }
}

.footer {
  margin-top: 50px;

  &:before {
    border-top: 1px lighten($body-bg, 5%) solid;
    content: "";
    display: block;
    margin: 0 10px 10px;
  }
}

.projects, .events {
    ul {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;

        li {
            a {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: $white;
            }
        }
    }
}

.secondary-navigation {
  > ul {
    @include inline-list;
  }
}
div#container {
  background-image: url("/images/layout/header/ruby_logo.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 95% 5%;

  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;

}
article {
    .antrag {
        img {
            box-shadow: 3px 3px 6px gray;
        }
    }
}
