.fork-on-github
  %a.github(href="https://github.com/rubyberlin/rubyberlin.org" title="For the repository for this page on Github")
    %span Fork us on Github

%header.row
  %h1
    Ruby Berlin
    %abbr(title='eingetragener Verein (a registered voluntary organisation)') e.V.

  = partial 'partials/primary_navigation'
