%header
  %div.row.header
    %div.columns.small-12.large-12
      =link_to '/' do
        %h1
          Ruby Berlin
          %abbr(title='eingetragener Verein (a registered voluntary organisation)') e.V.
