.fork-on-github
  %a.github(href="https://github.com/rubyberlin/rubyberlin.org" title="For the repository for this page on Github")
    %span Fork us on Github

= wrapped :header, :id => 'header' do
  %h1
    %a(href='/')
      = image '/images/layout/header/logo.png', :alt => 'Ruby Berlin e.V.'

  = partial 'partials/primary_navigation'
