%header
  %div.row.header
    %div.columns.small-12.large-12
      %nav.top-bar{"data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            %h1
              = link_to '/' do
                Ruby Berlin
                %abbr(title='eingetragener Verein (a registered voluntary organisation)') e.&#8239;V.
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          %ul.left
            %li
              = link_to 'Mitglied werden', 'members.html'
            %li
              = link_to 'Fragen & Antworten', 'faq.html'
            %li
              = link_to 'Impressum', 'imprint.html'
