= nav ['Imprint', {'Mitgliedsantrag' => 'files/antrag.pdf'}, {'Fördermitgliedschaft' => 'files/foerdermitglied.pdf'}, {'FAQ' => 'files/FrequentlyAnsweredQuestions.pdf'}], :class => 'secondary-navigation'
