= nav [{'Imprint' => '/imprint.html'}, {'Mitgliedsantrag' => 'files/antrag.pdf'}, {'Fördermitgliedschaft' => 'files/foerdermitglied.pdf'}, {'FAQ' => 'files/FrequentlyAnsweredQuestions.pdf'}, {'Satzung' => 'https://docs.google.com/document/d/1gQSzeo_8r1RVPY0XmjSBr9CDUTCxjiYYmqTwLsSLQac/edit?pli=1'}], :class => 'secondary-navigation'
