= nav ['Imprint', {'Mitgliedsantrag' => 'files/antrag.pdf'}, {'Fördermitgliedschaft' => 'files/foerdermitglied.pdf'}, {'FAQ' => 'files/FrequentlyAnsweredQuestions.pdf'}, {'Satzung' => 'https://docs.google.com/document/d/18i7q1GtQ9lRRBO4rnSS1sp5V_hVADNGdlPJVVnKDqgw'}], :class => 'secondary-navigation'
