---
body_class: faq
title: FAQ
---

%div.row
  %div.columns.small-12.large-12
    %article
      %h2 Unterstütze ich damit nur die Berliner Community?

      %p
        Nein. Wir wurden in Berlin gegründet, aber wir möchten Ruby in ganz
        Deutschland und auch darüber hinaus fördern.


      %h2 Wie hoch ist der Beitrag?
      %p

        Der Jahresbeitrag für reguläre Mitgliedschaften beträgt aktuell 10
        Euro pro Kalenderjahr. Fördermitglieder wählen ihren Beitrag selbst,
        wir wünschen uns aber einen Mindestbeitrag von 120 Euro pro Jahr. 

      %h2 Kann ich den Beitrag steuerlich absetzen?

      %p

        Ja! Wir sind ein gemeinnütziger Verein und stellen daher
        Spendenquittungen aus. Je nach Rechtslage sind diese Spenden auch im
        europäischen und internationalen Ausland absetzbar, wenn in diesem
        Land die Gemeinnützigkeit deutscher Organisationen anerkannt wird. Wenn
        nötig, senden wir gerne einen Nachweis.

      %h2 Wie hilft mein Beitrag?
      %p

        Fördermitgliedschaften machen uns unabhängiger von Sponsorengeldern, die
        selten sicher sind. Gerade unsere regelmäßigen Veranstaltungen wie z. B.
        die Events der Rails Girls Berlin sind kostenlos und müssen voll aus
        unseren Finanzen gedeckt werden oder ausfallen sofern sich keine
        Sponsoren finden. Um auch Menschen mit weniger Geld die Teilnahme zu
        ermöglichen haben unsers Konferenzen sehr geringe Ticketmargen, die vor
        allem der Risikodeckung dienen. Fördermitgliedschaften ermöglichen
        uns, ein kleines Polster aufzubauen und solche Events sicherer zu
        planen.

      %h2 Was wird von meinem Geld finanziert?

      %p

        Spenden an den Vereins fließen vor allem in die Notwendigkeiten der
        Projekte: Raummiete, Essen für Anwesende und Trainer, Getränke und tech-
        nische Ausstattung. Schöne Dinge auf unseren Events (Sticker, Poster
        etc.) machen wir von Sponsorengeldern abhängig. Außerdem baut der Verein
        mit seinen Mitteln einen kleinen Pool an Hardware auf, die für Events
        immer wieder nötig ist. Was wird von meinem Geld nicht finanziert? Als
        Faustregel: Kostenlose Getränke hinter der Bar. Alles, was nicht dem
        direkten Zweck der Veranstaltung dient.

