---
body_class: index
---

%article
  %header
    %h2
      Ruby Berlin

  %section.partners.sponsors
    = wrapped :header do
      %h3 Our partners
    = partial 'partials/partners', :locals => { :partners => data.partners }
